@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(0deg, #0C0D11 0%, #111419 50%, #0C0D11 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    gap: 40px;
}

.container {
    text-align: center;
}

.container a {
    display: inline-block;
    margin: 15px;
    padding: 15px 40px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: #B201E9;
    border: 2px solid #B201E9;
    border-radius: 12px;
    text-decoration: none;
    transition: 0.2s;
}

.container a:hover {
    background-color: transparent;
    color: #B201E9;
}

p {
    width: 60%;
    color: white;
    text-align: center;
}

