@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    background: #0C0D11;
    background: linear-gradient(0deg, rgba(12, 13, 17, 1) 0%, rgba(17, 20, 25, 1) 50%, rgba(12, 13, 17, 1) 100%);
    color: white;
    font-family: 'Montserrat', sans-serif;

}

.navMenu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #1A191F;
    color: white;
    font-size: 18px;
    
}

.navMenu a{
    text-decoration: none;
    padding: 10px;
    color: white;
    border: 2px solid #B201E9;
    border-radius: 10px;
    margin-left: 15%;
    margin-right: 15%;

}

.navMenu a:hover{
    background-color: #B201E9;
    transition: 0.2s;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    margin-left: 15%;
    margin-right: 15%;
}

.card{
    min-height: 300px;
    width: 100%;
    max-width: 900px;
    background-color: #020202;
    border-radius: 25px;
    padding: 20px;
    margin-bottom: 20px;
}

.headerProfile{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #1A191F;
    padding-bottom: 5px;
}

.profile-pic{
    width: 40px;
    height: 40px;
}

h3{
    color: #986BC1;
    font-size: 26px;
    margin: 0;
}

.infosContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #12091C;
    border: 2px solid #59176E;
    border-radius: 15px;
}

.infosDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 20px 10px 20px;
}

.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.btnPrp{
    text-decoration: none;
    padding: 10px 30px 10px 30px;
    background-color: #B201E9;
    border: 2px solid #B201E9;
    color: white;
    border-radius: 10px;
    font-weight: bold;
}

.btnPrp:hover{
    background-color: #020202;
    transition: 0.2s;
}

.inscritoTrilhas{
    margin-top: 10px;
}

.listaTrilhas li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #12091C;
    padding: 10px 15px;
    border: 2px solid #59176E;
    border-radius: 10px;
    margin-bottom: 10px;
}

.btnCancel{
    padding: 5px 15px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    background-color: #E94D4D;
    color: white;
    border: 2px solid #E94D4D;
}

.btnCancel:hover{
    background-color: #020202;
    transition: 0.2s;
}
