<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Roadie Trilhas</title>
    <link rel="stylesheet" th:href="@{/css/trilhas.css}">
</head>
<body>

    <div class="navMenu">
        <a th:href="@{/trilhas/cadastrar_trilha}">Cadastrar Trilhas</a>
        <a th:href="@{/}">Voltar</a>
    </div>

    <div class="container">
        <div class="card" th:each="trilha : ${listaTrilhas}">

            <div class="headerTrilha">
                <h3 th:text="${trilha.nome}"></h3>
            </div>

            <div class="infosContainer">
                <p>ID: <span th:text="${trilha.id}"></span></p>
                <p>Nome: <span th:text="${trilha.nome}"></span></p>
                <p>Descrição: <span th:text="${trilha.descricao}"></span></p>
                <p>Nível: <span th:text="${trilha.nivel}"></span></p>
                <p>Carga Horária: <span th:text="${trilha.carga_horaria}"></span></p>
                <p>Foco Principal: <span th:text="${trilha.foco_principal}"></span></p>
            </div>

            <p class="inscritos" th:if="${inscritosEmTrilhaCount[trilha.id] > 0}">
                Usuários inscritos:
                <span th:text="${inscritosEmTrilhaCount[trilha.id]}"></span>
            </p>

            <div class="buttons">
                <a class="btnPrp" th:href="@{/trilhas/editar/{id}(id=${trilha.id})}">Editar</a>
                <a class="btnPrp" th:href="@{/trilhas/deletar/{id}(id=${trilha.id})}">Deletar</a>
                <a class="btnPrp" th:href="@{/trilhas/inscrever_trilha/{id}(id=${trilha.id})}">Inscrever</a>
            </div>

        </div>
    </div>

</body>
</html>
